<h1><%= @restaurant.name%></h1>

<ul>
  <li><%="Details: Address: #{@restaurant.address} |
          Category: #{@restaurant.category} |
          Phone Number: #{@restaurant.phone_number}"%></li>
</ul>

<div class="container">
<h2>Reviews</h2>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li><%="#{review.content} | Rating: #{review.rating}"%></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<%= link_to 'Back to Restaurants', restaurants_path, class: "btn btn-primary" %>
